/* Styling for play button */
.bi-play {
    border: solid 1px;
    border-radius: 100%;
    padding: 0;
    font-size: 5rem;
    position: relative; /* Set to fixed positioning */
    top: 50%; /* Position vertically at the center */
    right: 0; /* Position at the right edge */
    transform: translate(0, -50%); /* Center the button vertically */
    /* Add other styles as needed */
  }
  
  /* Styling for pause button */
  .bi-pause {
    border: solid 1px;
    border-radius: 100%;
    padding: 0;
    font-size: 5rem;
    position: relative; /* Set to fixed positioning */
    top: 50%; /* Position vertically at the center */
    right: 0; /* Position at the right edge */
    transform: translate(0, -50%); /* Center the button vertically */
    /* Add other styles as needed */
  }
  